body {
    font-family: Arial, sans-serif;
    background-image: url("Guru%27s%20Bank/img/bg-main.jpg");
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

header {
    background-color: #4c0e69;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #a820e7;
    box-shadow:
        0 0 10px #a820e7,
        0 0 20px rgba(168, 32, 231, 0.6),
        inset 0 0 10px rgba(255, 255, 255, 0.1);
}

main {
    display: flex;
    flex-direction: column;
background-color: rgba(255, 255, 255, 0.1);
max-width: 70%;
height: 70%;
margin: 30px auto;
backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px gray;
}

h2 {
color: #a820e7;
text-align: center;
}
label {
font-weight: bold;
}

input, select, button {
padding: 8px;
margin: 5px 0 15px 0;
width: 20%;
height: 25%;
border-radius: 5px;
border: 1px solid #a820e7;
}

button {
background-color: #a820e7;
color: white;
font-weight: bold;
cursor: pointer;
}

button:hover {
background-color: #b54fe4;
}

button:disabled {
background-color: #35015f6b;
color: rgba(255, 255, 255, 0.356);
border: none;
cursor: not-allowed;
}

.resultado {
padding: 10px;
margin-top: 15px;
}
